@use "mixins";

// intersection observer declarations
.fade {
  transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.fadeFromTop {
  opacity: 0;
  transform: translateY(-2rem);
}

.fadeFromTopVisible {
  transform: translateY(0);
  opacity: 1;
}

.fadeFromBottom {
  opacity: 0;
  transform: translateY(2rem);
}

.fadeFromBottomVisible {
  transform: translateY(0);
  opacity: 1;
}

.fadeFromLeft {
  opacity: 0;
  transform: translateX(-2rem);
}

.fadeFromLeftVisible {
  transform: translateX(0);
  opacity: 1;
}

.fadeFromRight {
  opacity: 0;
  transform: translateX(2rem);
}

.fadeFromRightVisible {
  transform: translateX(0);
  opacity: 1;
}

div.fadeDelayShort {
  // Adding div to override specificity of .fade transition declaration
  transition: opacity 0.75s 0.4s ease-in, transform 0.75s 0.4s ease-in, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, border 0.3s ease-in-out;

  // Remove delay once stacked
  @include mixins.respond(tab-port) {
    transition: opacity 0.75s ease-in, transform 0.75s ease-in, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out, border 0.3s ease-in-out;
  }
}

div.fadeDelayLong {
  // Adding div to override specificity of .fade transition declaration
  transition: opacity 0.75s 0.6s ease-in, transform 0.75s 0.6s ease-in, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out, border 0.3s ease-in-out;

  // Remove delay once stacked
  @include mixins.respond(tab-port) {
    transition: opacity 0.75s ease-in, transform 0.75s ease-in, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out, border 0.3s ease-in-out;
  }
}

// utility animations
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// header animations
@keyframes headerText {
  0% {
    width: 0;
  }

  100% {
    width: 40%;
  }
}

@keyframes imgReveal {
  75% {
    opacity: 0;
    visibility: hidden;
  }

  76%,
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes revealFromLeft {
  30% {
    left: 0.5rem;
    width: 0;
  }

  45% {
    left: -0.5rem;
    width: 15px;
  }

  55% {
    left: 0;
    width: 0;
  }

  68% {
    width: 100%;
    transform: scaleX(1);
  }

  75% {
    transform: scaleX(1.1);
  }

  100% {
    transform: scaleX(0);
    width: 100%;
  }
}

@keyframes revealFromBottom {
  30% {
    bottom: 0.5rem;
    height: 0;
  }

  45% {
    bottom: -0.5rem;
    height: 15px;
  }

  55% {
    bottom: 0;
    height: 0;
  }

  68% {
    height: 100%;
    transform: scaleY(1);
  }

  75% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(0);
    height: 100%;
  }
}

@keyframes revealFromTop {
  30% {
    top: 0.5rem;
    height: 0;
  }

  45% {
    top: -0.5rem;
    height: 15px;
  }

  55% {
    top: 0;
    height: 0;
  }

  68% {
    height: 100%;
    transform: scaleY(1);
  }

  75% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(0);
    height: 100%;
  }
}

@keyframes revealFromRight {
  30% {
    right: 0.5rem;
    width: 0;
  }

  45% {
    right: -0.5rem;
    width: 15px;
  }

  55% {
    right: 0;
    width: 0;
  }

  68% {
    width: 100%;
    transform: scaleX(1);
  }

  75% {
    transform: scaleX(1.1);
  }

  100% {
    transform: scaleX(0);
    width: 100%;
  }
}

// carousel animations
@keyframes carousel-image-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes carousel-text-fade-in {
  0%,
  65% {
    opacity: 0;
    transform: translateX(-4rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.carouselImageFade {
  animation: carousel-image-fade-in 0.5s ease-in-out forwards;
}
.carouselTextFade {
  animation: carousel-text-fade-in 0.5s ease-out forwards;
}

@keyframes carousel-fade-in-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2rem);
  }
}

@keyframes carousel-move-in-up {
  0% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
