.contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &__intro {
      max-width: 800px;
      margin: 2rem auto;

      @include respond(tab-land) {
        text-align: center;
      }
  }

  &__form {
    flex: 0 0 100%;
    order: 2;
    
    @include respond(tab-land) {
      flex: 0 0 45%;
      order: 1;
    }
  }

  &__image {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e6e6e6' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    order: 1;
    flex: 0 1 100%;
    margin: 2rem auto 1rem;
    padding: 2rem;
    
    @include respond(tab-land) {
      flex: 0 0 40%;
      order: 2;
      margin: 0;
    }

    & img {
      margin: 5% auto 0;

      @include respond(tab-land) {
        margin: 6% 0 0 -10%;
      }
    }
  }
}

.form {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
  }

  @include respond(desk-small) {
      padding: 2rem;
  }

  &__label {
      color: $color-text;
      font-size: 1.6rem;
      text-transform: uppercase;
  }

  &__input,
  &__textarea {
      appearance: none; // override safari inset shadow default
      font-family: $font-family-main;
      display: block;
      font-size: 1.6rem;
      margin-bottom: 4.5rem;
      padding: .5rem 1.5rem;
      border: none;
      background-color: $color-background;
      border-radius: $design-border-radius-default;
      width: 100%;
      max-width: 100%;
  }

  &__textarea {
      height: 15rem;

      @include respond(desk-small) {
          height: 10rem;
      }

      &:focus {
          border: 3px solid $color-text;
          box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
      }
  }

  &__submit {
      appearance: none;
      border: none;
      cursor: pointer;
      margin: 0 auto;
  }
}