.header {
  margin-top: $sticky-nav-height-small; // account for nav bar
  padding: 2rem;
  color: $color-text;
  background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.6)),
    url(/img/home-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;

  @include respond(desk-small) {
    min-height: 60rem;
    margin-top: $sticky-nav-height-large; // account for nav bar
  }

  &__row {
    flex: 1 1 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    @include respond(tab-land) {
      flex-direction: row;
      align-content: normal;
    }

    @include respond(desk-medium) {
      justify-content: space-between;
    }
  }

  &__text,
  &__images {
    display: flex;
  }

  &__text {
    padding: 3rem 0 7rem;
    text-align: left;
    flex-direction: column;
    transform: translateX(-4rem);
    opacity: 0;
    animation: fade-in-right 0.5s 1.9s ease-in-out forwards;

    @include respond(tab-land) {
      align-self: center;
      flex: 0 0 30%;
    }

    @include respond(desk-small) {
      padding: 0;
      flex: 0 0 40%;
    }
  }

  &__images {
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 75%;
    flex: 0 0 100%;
    width: 100%;

    @include respond(tab-port) {
      padding-top: 50%;
    }

    @include respond(tab-land) {
      flex: 0 0 60%;
      padding-top: 33%;
    }

    @include respond(desk-small) {
      flex: 0 0 50%;
    }
  }

  &__img {
    position: absolute;
    border-radius: 3px;

    &.yAxis {
      &::before {
        height: 0;
        width: 100%;
      }
    }

    &.xAxis {
      &::before {
        width: 0;
        height: 100%;
      }
    }

    &::before {
      content: "";
      display: inline-block;
      background-color: $color-background;
      position: absolute;
      z-index: 100;
    }

    & img {
      width: 100%;
      height: 100%;
      animation: imgReveal 3.5s linear forwards;
    }

    &--1 {
      width: 30%;
      height: 40%;
      top: 5%;
      left: 0;
      z-index: 1;

      &::before {
        transform-origin: right;
        animation: revealFromLeft 3.5s linear forwards;
      }

      & img {
        object-position: top;
      }

      @include respond(tab-land) {
        width: 23%;
        height: 35%;
        top: 24%;
        left: 6%;
      }
    }

    &--2 {
      width: 50%;
      height: 60%;
      bottom: 8%;
      left: 10%;
      z-index: 4;

      &::before {
        transform-origin: top;
        animation: revealFromBottom 3.5s linear forwards;
      }

      & img {
        object-position: center;
      }

      @include respond(tab-land) {
        width: 30%;
        height: 45%;
        bottom: 8%;
        left: 20%;
      }
    }

    &--3 {
      width: 50%;
      height: 65%;
      top: -12%;
      right: 12%;
      z-index: 3;

      &::before {
        transform-origin: bottom;
        animation: revealFromTop 3.5s linear forwards;
      }

      & img {
        object-position: top;
      }

      @include respond(tab-land) {
        width: 40%;
        height: 58%;
        top: 10%;
        right: 20%;
      }
    }

    &--4 {
      width: 23%;
      height: 35%;
      bottom: 20%;
      right: 0;
      z-index: 2;

      &::before {
        transform-origin: left;
        animation: revealFromRight 3.5s linear forwards;
      }

      & img {
        object-position: center;
      }

      @include respond(tab-land) {
        width: 23%;
        height: 35%;
        bottom: 10%;
        right: 2%;
      }
    }
  }

  & h1 {
    text-align: left;
    color: $color-primary;
    padding: 2.2rem 0;
  }

  & p {
    align-self: flex-start;
    font-size: 1.8rem;
    padding-left: 4px;
  }
}
