@use "mixins";
@use "variables";

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  &__header {
    flex: 0 0 100%;
    text-align: center;

    @include mixins.respond(desk-small) {
      flex: 0 0 40%;
    }

    @include mixins.respond(desk-medium) {
      flex: 0 0 30%;
    }
  }

  &__icon {
    fill: variables.$color-primary;
    width: 8rem;
    height: 8rem;
    margin: 1rem auto;
  }

  &__text {
    flex: 0 0 100%;
    padding: 2rem 1rem 0;

    @include mixins.respond(desk-small) {
      flex: 0 0 35%;
      padding: 0;
    }
  }

}