@use "mixins";
@use "variables";

// UTILITY CLASSES
.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.bordered {
    border: 6px solid variables.$color-background;

    @include mixins.respond(desk-small) {
        border: 10px solid variables.$color-background;
    }
}