// colors
$color-primary: #fd6c9e;
$color-secondary: #67a3d9;
$color-text: #707070;
$color-background: #fdfdfd;
$color-background-light-grey: #f1f1f1;
$color-highlight: #a7a7a7;
$color-highlight-text: #fff;

// nav
$sticky-nav-height-small: 65px;
$sticky-nav-height-large: 124.125px;

// footer
$footer-background-color: #fdfdfd;
$footer-padding-small: 2rem;
$footer-padding-medium: 4rem;
$footer-padding-large: 8rem;

// layout
$layout-max-width: 1920px;
$layout-section-padding-small: 4rem 2rem;
$layout-section-padding-medium: 2rem 4rem;
$layout-section-padding-large: 5rem 8rem;

// design
$design-border-radius-default: 3px;
$design-box-shadow-default: 0 1rem 3rem rgba(0, 0, 0, 0.15);

// fonts
$font-family-heading: 'Open Sans', sans-serif;
$font-family-main: 'Mulish', sans-serif;
$font-weight-default: 400;
